* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}
#container {
  background-size: 10%;
  background: url(https://images.pexels.com/photos/4716255/pexels-photo-4716255.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
    100%;
  max-width: 100%;
  height: 600px;
}
.form-wrap {
  position: absolute;
  padding-top: 5px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
.group-1 {
  margin-top: 50px;
  margin-left: 55px;
  float: left;
  height: 400px;
  width: 30%;
  overflow: auto;
  text-align: center;
  background: rgba(237, 238, 240, 0.8);
  border-radius: 10px;
  box-shadow: 2px 2px 4px #000000;
}
.group-2 {
  margin: 50px 20px;
  height: 400px;
  float: left;
  width: 30%;
  overflow: auto;
  text-align: center;
  background: rgba(237, 238, 240, 0.8);
  border-radius: 10px;
  box-shadow: 2px 2px 4px #000000;
}
.group-3 {
  height: 400px;
  margin-top: 50px;
  float: left;
  width: 30%;
  overflow: auto;
  text-align: center;
  background:  rgba(237, 238, 240, 0.8);
  border-radius: 10px;
  box-shadow: 2px 2px 4px black;
}
.form-wrap h1 {
  font-size: 50ox;
  border: 1px solid;
  padding: 4px;
  border-radius: 10px;
  width: 80%;
  margin: 20px auto;
}
h1:hover {
  color: rgb(64, 93, 223);
}

img {
  margin: 20px;
  padding: 5px;
  height: 200px;
  width: 300px;
  border-radius: 1.1em;
}
.form-wrap img,
h1 a:hover {
  color: rgb(52, 52, 241);
  box-shadow: 2px 2px 4px #000000;
}
.form-wrap h1 {
  box-shadow: 2px 2px 4px #000000;
}
.form-wrap p {
  padding-bottom: 15px;
}
